<div ng-init="adminView()">


<h1> Admin Panel </h1>
<legend>add flower</legend>
<hr>
  <ul ng-if='errors.length > 0'>
    <li ng-repeat='error in errors'>{{error}}</li>
  </ul>
  <form>
    <label>Name: <input type="text" ng-model='name'></label><br>
    <label>thc: <input type="number" ng-model='thc'></label><br>
    <label>description: <textarea ng-model='description'></textarea></label><br>
    <label>One Gram:  <input type="text" ng-model='one_gram'></label><br>
    <label>Type:</label><select ng-model="type">
              <option value="Indica "> Indica</option>
              <option value="Sativa"> Sativa</option>
              <option value="Hybrid"> Hybrid</option>
          </select>
    <label>Two Grams: <input type="text" ng-model='two_gram'></label><br>
    <label>Eigth: <input type="text" ng-model='eigth'></label><br>
    <label>Quarter: <input type="text" ng-model='quarter'></label><br>
    <label>Half: <input type="text" ng-model='half'></label><br>
    <label>Ounce: <input type="text" ng-model='ounce'></label><br>
    <button type="file" ng-model="file" ngf-select="addFlower($file, $invalidFiles)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
    <button ng-click='addFlower()'>add flower</button>
  </form><br>
  <legend> add county </legend>
  <form>
    <label> County name: <input type="text" ng-model='countyInfo.name'></label><br>
    <button ng-click='addCounty()'>add County </button>
  </form>
  <legend> add city</legend>
  <form>
    <label> County name:
      <select ng-model="county._id">
        <option ng-repeat="county in counties" value="{{county._id}}" ng-model="county._id">
         {{county.name}}
        </option>
      </select>
      <label> City Name: <input type="text" ng-model="newCity.name"></label><br>
    <button ng-click='addCity(newCity, county._id)'>add City </button>
  </form>
<div id="county-info">
  <p ng-repeat="county in counties">
    <span id="county-id">{{county._id}}<span>
    <button ng-click="deleteCounty(county._id)"><span id="county-name"> {{county.name}}<span></button>
  </p>
</div> <br>
<div class="sheet__deliveries">
  <div class="card__delivery" ng-repeat="delivery in deliveries">
  <div class="title">{{delivery.name}}</div>
      <span id="validation"><h3> Validate? </h3>
    <input type="checkbox"> <!--  ng-model="validate()">  -->
  </div>
</div>



<legend>Create new delivery service</legend><br>
<hr>
  <ul ng-if='errors.length > 0'>
    <li ng-repeat='error in errors'>{{error}}</li>
  </ul>
  <form>
    <label>Name: <input type="text" ng-model='formData.name'></label><br>
    <label>Phone: <input type="text" ng-model='formData.phone'></label><br>
    <label>Bio: <textarea ng-model='formData.bio'></textarea></label><br>
    <label>City:
    <select ng-model="city._id">
      <option ng-repeat="city in cities" value="{{city._id}}" ng-model="city._id">
        {{city.name}}
      </option>
    </select>
  </label>
    <label>Street Address: <textarea ng-model='formData.address'></textarea></label><br>
    <label>Latitude: <input type="text" ng-model="formData.latitude" readonly=""></label><br>
    <label>Longitude: <input type="text" ng-model="formData.longitude"readonly=""></label><br>
    <label>Email: <input type="text" ng-model='formData.email'></label><br>
    <label>Password: <input type="password" ng-model='formData.password'></label><br>
    <label>Password confirmation: <input type="password" ng-model='formData.confirm'></label><br>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
    <button ng-click='addDelivery()'>Register</button>
</form>







  

</div>
