<div class="sheet__register">

  <div id="register-delivery">
    <form class="form-container">
      <h2>Register Business</h2>
      <ul ng-if='errors.length > 0'>
        <li ng-repeat='error in errors'>{{error}}</li>
      </ul>
      <input type="text" ng-model='name'  placeholder="Name"><br>
      <input type="text" ng-model='phone' placeholder="Phone"><br>
      <textarea ng-model='bio' placeholder="Bio"></textarea><br>
      <select ng-model="city._id" placeholder="City">
        <option class="default-option" value="" selected data-default>City</option>
        <option ng-repeat="city in cities" value="{{city._id}}" ng-model="city._id">
          {{city.name}}
        </option>
      </select> <br>
      <input type="text" ng-model='street_address' placeholder="Street Address"><br>
      <input type="text" ng-model='email' placeholder="Email"><br>
      <input type="password" ng-model='password' placeholder="Password"><br>
      <input type="password" ng-model='confirm' placeholder="Confirm Password"><br>
      <input type="file" ngf-select ng-model="file" name="file" accept="image/*" placeholder="icon image">
      <button class="form-btn" ng-click='createDelivery(file)'>REGISTER</button>
    </form>
  </div>
</div>                           
