<div class="sheet__dashboard">
		
	<span class="mary-text">
	  <p>- ARE YOU THE NEXT -</p>
	  <h1 style="font-family: megrim"> MARY JANE? </h1>
	</span>
	<button class="mary-btn">LEARN MORE</button>

</div>


<div class="sheet__topstrains">
	<div class="title"><h1>Top Strains</h1></div>
	<div class="card__strain">
		<div class="title">Mowie Wowie</div>
		<p style="color:green">1.5 &#9650;</p>
		<p>Total Votes: 3000</p>
	</div>
	<div class="card__strain">
		<div class="title">Blue Tarantula</div>
		<p style="color:red">1.5 &#9660;</p>
		<p>Total Votes: 3000</p>
	</div>
	<div class="card__strain">
		<div class="title">Purple Skunk</div>
		<p style="color:red">1.5 &#9660;</p>
		<p>Total Votes: 3000</p>
	</div>
	<div class="card__strain">
		<div class="title">Angry Badger</div>
		<p style="color:red">1.5 &#9660;</p>
		<p>Total Votes: 3000</p>
	</div>
	<div class="card__strain">
		<div class="title">Aquamarine Sea Turtle</div>
		<p style="color:green">2.0 &#9650;</p>
		<p>Total Votes: 3000</p>
	</div>
</div>

<div class="sheet__featured">
	<h1>Featured Location</h1>
	
</div>

<div class="sheet__sponsors">
	<h1>Sponsors</h1>	
	
</div>

