<div ng-init="dashView()">
<div class="sheet__dashboard">	
	<span class="mary-text">
	  <p>- ARE YOU THE NEXT -</p>
	  <h1 style="font-family: megrim"> MARY JANE? </h1>
	</span>
	<a href="#/apply"><button class="mary-btn">LEARN MORE</button></a>

</div>
<div class="sheet__featured">
<div class="featured_text">
	<h1>Shops Accepting MJ'S Coupons In your Area</h1>
</div>
<div class="delivery" ng-repeat="shop in featured">
        <img class="feat_img" data-ng-src="data:image/JPEG;base64,{{shop.image}}">
        <h2> {{shop.name}} </h2>
        <a href="#/business/{{shop._id}}"><button class="menu-btn" >Menu</button></a> <!-- ng-click="show()" -->
</div>

</div>
<div class="sheet__featuredBrands">
<div class="featured_text">
	<h1>Featured Brands In your Area</h1>
</div>
<div class="brand" ng-repeat="brand in Brands">
        <img class="feat_img" data-ng-src="data:image/JPEG;base64,{{brand.image}}">
        <h2> {{brand.name}} </h2>
       <!-- ng-click="show()" -->
</div>
</div>
<!-- <div class="sheet__sponsors">
	<h1>Sponsors</h1>		
</div> -->
</div>

