<div ng-init="deliveryView()" >


  <div class="sheet__head">
    <div class="sheet__contact">
      <!-- <div class="contact__container"> -->
        <h1>{{delivery.name | uppercase}}</h1>
        <p>{{delivery.email}}</p>
        <p>{{delivery.phone}}</p>  
      <!-- </div> -->

      <div class="icon__profile">
        <img data-ng-src="data:image/JPEG;base64,{{delivery.image}}">
      </div>
      
    </div>
  </div>


  <a class="mobile" href="">&#9776;</a>
  <nav>
    <ul id="nav">
      <li><a href="" ng-click="page='menu'">Menu</a></li>
      <li><a href="" ng-click="page='reviews'">Reviews</a></li>
      <li><a href="" ng-click="page='deals'">Deals</a></li>
      <li><a href="" ng-click="page='bio'">Bio</a></li>
    </ul>
    <div style="clear:both;"></div>
  </nav>
<div ng-switch on="page">
  <div class="sheet__product grid" ng-switch-when="menu">
    <div class="product_nav col-1-4">
      <ul>
        <li><a href="">ALL CATEGORIES</a><br></li>
        <li><a href="">INDICA</a><br></li>
        <li><a href="">SATIVA</a><br></li>
        <li><a href="">HYBRID</a><br></li>
        <li><a href="">EXTRACT</a><br></li>
        <li><a href="">EDIBLE</a><br></li>
        <li><a href="">TOPICALS</a><br></li>
        <li><a href="">GROW</a><br></li>
        <li><a href="">GEAR</a><br></li>
        <li><a href="">PREROLL</a><br></li>
        <input type="text" placeholder="Search...">
      </ul>
    </div>
    <div class="products col-3-4">
      <div class="product_categories grid">
        <h2 class="col-1-8"></h2>
        <h2 class="col-1-4">Name</h2>
        <h2 class="col-1-4">Description</h2>
        <h2 class="col-3-8">Price</h2>
      </div>
      <div class="product_container" class="grid">
          <div class="product_card" ng-repeat="product in delivery.products">

              <img class="flower-img col-1-8" data-ng-src="data:image/JPEG;base64,{{product.image}}">
              <h2 class="col-1-4"> {{product.name}}</h2>
              <h2 class="col-1-4"> {{product.description}}</h2>
              <div class="col-3-8 grid">
                <div class="col-1-8">GRAM<br>{{product.one_gram}} </div>
                <div class="col-1-8">2GRAM<br>{{product.two_gram}}</div>
                <div class="col-1-8">1/8<br>{{product.eigth}}</div>
                <div class="col-1-8">1/2<br>{{product.half}}</div>
                <div class="col-1-8">OZ<br>{{product.ounce}}</div>
              </div>
          </div>
        </div>
      </div>  
    </div>


  <div class="sheet__reviews" ng-switch-when="reviews">
    <div ng-repeat="review in delivery.reviews">
      <label>Reviews</label>
      <h3>Review:</h3> <p>{{review.review}}<p>
      <h3>User:</h3><p>{{review._user.name}}</p>
    </div>


  <div class="sheet__deals" ng-switch-when="deals">
    
    <h3>Deals</h3>

  </div>

  <div class="sheet__bio" ng-switch-when="bio">
      <h3>Bio</h3>
      <p>{{delivery.bio}}</p>

  </div>
</div>



</div>
