<div ng-init="deliveriesView()">

  <div class="sheet__banner">
      <h1 id=banner-txt> {{address.formatted_address}} </h1>
  </div>

  <div class="sheet__delivery">
    <!-- <div class=""> -->
      <div class="card__delivery" ng-repeat="delivery in deliveries">
        <div class="title">{{delivery.name}}</div>
        <p>{{delivery._city.name}}</p>
        <!-- <p>{{delivery.phone}}</p>
        <p>{{delivery.bio}}</p>
        <p>{{delivery.email}}</p> -->
        <!-- <p>{{delivery._id}}</p> -->
        <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p> <!-- &#9734; -->
        <a href="#/business/{{delivery._id}}"><button class="menu-btn" >Menu</button></a> <!-- ng-click="show()" -->
      </div>
    <!-- </div> -->

  </div>
  <div class="sheet__map">

      <div id="map" style="width:1000px; height:645px"></div>

  </div>

</div>
