<ul class="topnav">
  <li><a href="/">Mary Jane Choices</a></li>
  <li><a href="#!deliveries">deliveries</a></li>
  <li><a href="#!doctors">Doctors</a></li>
  <li><a href="#!deals">Deals</a></li>
  <li><a href="#!login">login</a></li>
</ul>
<div id="banner">
<span id="banner-txt"><h1 id=banner-txt> Los Angeles </h1> <br>
<h1 id="banner-txt"> California </h1></span>
</div>
<div class="delivery-container">
  <div ng-repeat="delivery in deliveries">
    <p>{{delivery.name}}</p>
    <p>{{delivery.phone}}</p>
    <p>{{delivery.bio}}</p>
    <p>{{delivery.email}}</p>
    <p>{{delivery._id}}</p>
    <a href="#!show/{{delivery._id}}"><button ng-click="show(delivery._id)">menu</button></a>
  </div>
  </div>
<div class="col-md-7">
    <div id="map" style="width:645px; height:645px"></div>
</div>
