<div class="wrapper" ng-init="doctorView()">
  <div class="sheet__head">
    <div class="sheet__contact">
        <div class="icon__profile">
          <img data-ng-src="data:image/JPEG;base64,{{business.image}}">
        </div>
        <div class="business_info">
          <h1>{{business.name | uppercase}}</h1>
          <p>{{business.type}}</p>
          <p>{{business.email}}</p>
          <a href="tel:{{business.phone}}">{{business.phone}}</a>
          <p>{{business.street_address}}</p>
        </div>     
    </div>
  </div>
  <a class="mobile_nav" href="">&#9776;</a>
  <div class="wrapper">
  <section class="business_nav">
    <ul class="bus">
      <li><a href="" ng-click="page='details'">Details</a></li>
      <li><a href="" ng-click="page='disclaimer'">Disclaimer</a></li>
      <li><a href="" ng-click="page='deals'">Deals</a></li>
      <li><a href="" ng-click="page='reviews'">Reviews</a></li>
<!--       <li><a href="" ng-click="page='disclamier'"></a></li>
 -->    </ul>
  </section>
  </div>
<div class="page" ng-switch on="page">
  <div class="sheet__reviews" ng-switch-when="reviews">
    <h3>Reviews</h3>
    <div ng-repeat="review in business.reviews">
      <h3>Review:</h3> <p>{{review.review}}</p>
      <h3>User:</h3><p>{{review._user.name}}</p>
    </div>
  </div>
  <div class="sheet__deals" ng-switch-when="deals">
    <h3>Deals</h3>
  </div>
  <div class="sheet__about_us" ng-switch-when="details"> 
    <h3>Details</h3>
    <div class="about">
    <h4>About Us</h4>
    <p>{{business.bio}}</p>
    </div>
  </div>
  <div class="sheet__disclaimer" ng-switch-when="disclaimer">
    <h3>Disclaimer</h3> 
  </div>
</div>
</div>

