<div ng-init="doctorsView()">

  <div class="sheet__banner">
      <h1 id=banner-txt> {{address.formatted_address}} </h1>
  </div>

  <div class="sheet__delivery">
    <!-- <div class=""> -->
      <div class="card__delivery" ng-repeat="doctor in doctors">
        <div class="title">{{doctor.name}}</div>
        <p>{{doctor._city.name}}</p>
        <!-- <p>{{delivery.phone}}</p>
        <p>{{delivery.bio}}</p>
        <p>{{delivery.email}}</p> -->
        <!-- <p>{{delivery._id}}</p> -->
        <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p> <!-- &#9734; -->
        <a href="#/doctor/{{doctor._id}}"><button class="menu-btn" ng-click="showDoctor()">View</button></a>
      </div>
    <!-- </div> -->

  </div>
  <div class="sheet__map">

      <div id="map" style="width:1000px; height:645px"></div>

  </div>

</div>
