<div class="sheet__apply">
	<div class="mary">
		<form class="mary_form">
			<input type="text" name="" id="" placeholder="name" ng-model="applicants.full_name">
			<input type="text" name="" id="" placeholder="email" ng-model="applicants.email">
			<input type="text" name="" id="" placeholder="phone#" ng-model="applicants.phone">
			<textarea placeholder="Brief description" ng-model="applicants.description"></textarea>
			<button type="submit" ng-click=apply(applicants)>apply</button>
		</form>
	</div>
</div>