<div class="sheet__register" ng-init="registerBusinessView()">

  <div id="register-delivery">
    <form name="form" novalidate class="form-container" ng-model-options="{ updateOn: 'blur' }">
      <h2>Register Business</h2>
      <ul ng-if='errors.length > 0'>
        <li ng-repeat='error in errors'>{{error}}</li>
      </ul>

      <input type="text" name="name" ng-model='name'  placeholder="Name" required="" />
      <!-- NAME VALIDATION -->
      <div ng-show="form.$submitted || form.name.$touched">
        <div ng-show="form.name.$error.required">Name is required.</div>
      </div>

      <select ng-model="type" required>
        <option class="default-option" value="" selected data-default>Type</option>
        <option value="Dispensary" >Dispensary</option>
        <option value="Delivery" >Delivery</option>
        <option value="Doctor" >Doctor</option>
      </select>

      <h3>Hours of Operation</h3>
      <div class="dayOfTheWeek">
        <label for="monday" class="dayOfTheWeek"><input type="checkbox" id="monday" ng-model="hours.monday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Mon</label>
        <p>from</p>
        <select ng-model="hours.monday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.monday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="tuesday" class="dayOfTheWeek"><input type="checkbox" id="tuesday" ng-model="hours.tuesday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Tue</label>
        <p>from</p>
        <select ng-model="hours.tuesday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.tuesday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="wednesday" class="dayOfTheWeek"><input type="checkbox" id="wednesday" ng-model="hours.wednesday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Wed</label>
        <p>from</p>
        <select ng-model="hours.wednesday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.wednesday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="thursday" class="dayOfTheWeek"><input type="checkbox" id="thursday" ng-model="hours.thursday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Thu</label>
        <p>from</p>
        <select ng-model="hours.thursday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.thursday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="friday" class="dayOfTheWeek"><input type="checkbox" id="friday" ng-model="hours.friday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Fri</label>
        <p>from</p>
        <select ng-model="hours.friday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.friday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="saturday" class="dayOfTheWeek"><input type="checkbox" id="saturday" ng-model="hours.saturday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Sat</label>
        <p>from</p>
        <select ng-model="hours.saturday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.saturday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>
      <div class="dayOfTheWeek">
        <label for="sunday" class="dayOfTheWeek"><input type="checkbox" id="sunday" ng-model="hours.sunday" ng-true-value="{'open':'open'}" ng-false-value="{'open':'closed'}">Sun</label>
        <p>from</p>
        <select ng-model="hours.sunday.open">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
        <p>to</p>
        <select ng-model="hours.sunday.close">
          <option value="7">7:00AM</option>
          <option value="8">8:00AM</option>
          <option value="9">9:00AM</option>
          <option value="10">10:00AM</option>
          <option value="11">11:00AM</option>
          <option value="12">12:00PM</option>
          <option value="13">1:00PM</option>
          <option value="14">2:00PM</option>
          <option value="15">3:00PM</option>
          <option value="16">4:00PM</option>
          <option value="17">5:00PM</option>
          <option value="18">6:00PM</option>
          <option value="19">7:00PM</option>
          <option value="20">8:00PM</option>
          <option value="21">9:00PM</option>
          <option value="22">10:00PM</option>
          <option value="23">11:00PM</option>
          <option value="24">12:00AM</option>
          <option value="25">1:00AM</option>
          <option value="26">2:00AM</option>
          <option value="27">3:00AM</option>
          <option value="28">4:00AM</option>
        </select>
      </div>

      <input type="text" id="phone" ng-model='phone' placeholder="Phone" required><br>
      <textarea ng-model='bio' placeholder="Bio" required></textarea>
    

      <input type="text" ng-model='street_address' placeholder="Street Address" required>
      <input type="text" ng-model='city' placeholder="City" required>
      <select ng-model="state" required>
        <option class="default-option" value="" selected data-default>State</option>
        <option value="AL">ALABAMA</option>
        <option value="AK">ALASKA</option>
        <option value="AZ">ARIZONA</option>
        <option value="AR">ARKANSAS</option>
        <option value="CA">CALIFORNIA</option>
        <option value="CO">COLORADO</option>
        <option value="CT">CONNECTICUT</option>
        <option value="DE">DELAWARE</option>
        <option value="FL">FLORIDA</option>
        <option value="GA">GEORGIA</option>
        <option value="HI">HAWAII</option>
        <option value="ID">IDAHO</option>
        <option value="IL">ILLINOIS </option>
        <option value="IN">INDIANA</option>
        <option value="IA">IOWA</option>
        <option value="KS">KANSAS</option>
        <option value="KY">KENTUCKY</option>
        <option value="LA">LOUISIANA</option>
        <option value="ME">MAINE</option>
        <option value="MD">MARYLAND</option>
        <option value="MA">MASSACHUSETTS</option>
        <option value="MI">MICHIGAN</option>
        <option value="MN">MINNESOTA</option>
        <option value="MS">MISSISSIPPI</option>
        <option value="MO">MISSOURI</option>
        <option value="MT">MONTANA</option>
        <option value="NE">NEBRASKA</option>
        <option value="NV">NEVADA</option>
        <option value="NH">NEW HAMPSHIRE</option>
        <option value="NJ">NEW JERSEY</option>
        <option value="NM">NEW MEXICO</option>
        <option value="NY">NEW YORK</option>
        <option value="NC">NORTH CAROLINA</option>
        <option value="ND">NORTH DAKOTA</option>
        <option value="OH">OHIO</option>
        <option value="OK">OKLAHOMA</option>
        <option value="OR">OREGON</option>
        <option value="PA">PENNSYLVANIA</option>
        <option value="RI">RHODE ISLAND</option>
        <option value="SC">SOUTH CAROLINA</option>
        <option value="SD">SOUTH DAKOTA</option>
        <option value="TN">TENNESSEE</option>
        <option value="TX">TEXAS</option>
        <option value="UT">UTAH</option>
        <option value="VT">VERMONT</option>
        <option value="VA">VIRGINIA</option>
        <option value="WA">WASHINGTON</option>
        <option value="WV">WEST VIRGINIA</option>
        <option value="WI">WISCONSIN</option>
        <option value="WY">WYOMING</option>
      </select> 
      <input type="text" ng-model='zip_code' placeholder="Zip Code" required>

      


      <!-- EMAIL FORM -->
      <input type="email" name="email" ng-model='email' placeholder="Email" required="">
      <!-- EMAIL VALIDATION -->
      <div ng-show="form.$submitted || form.email.$touched">
        <span ng-show="form.email.$error.required">Email is required.</span>
        <span ng-show="form.email.$error.email">This is not a valid email.</span>
      </div>


      <input type="password" ng-model='password' placeholder="Password" required>
      <input type="password" ng-model='confirm' placeholder="Confirm Password" required>
      <input type="file" ngf-select ng-model="file" name="file" accept="image/*" placeholder="icon image">
      <button class="form-btn" ng-click='createBusiness(file)'>REGISTER</button>
    </form>
  </div>
</div>
