<!-- <div id="register-container">
	<div id="register-box">
		<div id="register-nav">
			<img src="pics/drug.svg" id="login-logo">
		</div>
		<div id="registration-content">
			<button id="user-reg">User</button>
			<button id="delivery-reg">Delivery</button>
		</div>
	</div>
</div> -->
<div id="register-container">
	<div id="register-box">
		<div id="register-nav">
			<img src="pics/drug.svg" id="login-logo">
		</div>
		<div id="registration-content">
			<a href="#/register/user"><button id="user-reg">User</button></a>
			<a href="#/register/business"><button href="" id="delivery-reg">Delivery</button></a>
	  </div>
	</div>
</div>
  
<!-- <script>
$(function(){
  $('#register-delivery').hide();
  $('#register-user').hide();
  $('#user-reg').click( function() {
    $('#register-user').show();
  });
  $('#delivery-reg').click( function() {
    $('#register-delivery').show();
  });
})
</script> -->
