<div class="sheet__register">

  <div id="register-user">
    <form class="form-container">
      <ul ng-if='errors.length > 0'>
        <li ng-repeat='error in errors'>{{error}}</li>
      </ul>
      <h2> Sign Up </h2>
      <input type="text" ng-model='userData.name' placeholder="Name"><br>
      <input type="text" ng-model='userData.email' placeholder="Email"><br>
      <textarea ng-model='userData.bio' placeholder="Bio"></textarea><br>
      <select ng-model="city._id">
        <option class="default-option" value="" selected data-default>City</option>
        <option ng-repeat="city in cities" value="{{city._id}}" ng-model="city._id">
          {{city.name}}
        </option>
      </select>
      <br>
      <input type="password" ng-model='userData.password' placeholder="Password"><br>
      <input type="password" ng-model='userData.confirm' placeholder="Confirm Password"><br>
      <button class="form-btn" ng-click='addUser(userData, city._id)'>Register</button>
    </form>
  </div>

</div>
