

.business_info {
  margin-top:-80px;
  padding-bottom:20px;
}


.product_nav{
	text-align: center;
	background-color:$black;
    padding: 0 10px;
	overflow: auto;
	// display:inline-block;
	vertical-align:top;
	height:60px;
	width: 100%;
	white-space: nowrap;
	a{
		display: inline-block;
		// margin: 20px;
		padding: 14px;
		color:$white;
		text-decoration: none !important;
	}
	a:hover{
		color:$green;
	}
	li:hover{
		background-color:#3cffe4;
	}
}
// div.product_nav a {
// 	margin:40px
//     display: inline-block;
//     color: white;
//     text-align: center;	
// }
.products{
	background-color: #F2F5F5;	
	display: table;
	// width:300px;
	 width:100%;
	 // tr {
	 // 	width: 100%;
	 // }
	
}

.product_container {
    display:inline-block;
	height:100%;
    width:100%;
	overflow-y:scroll; 
}

.product_categories {
	width:100%;
	background-color:$grey;
	color: $white;
	*{text-align:center;}
}
.product_card{
	background-color:white;
	margin:6px 0;
	height:100px;
	*{
		text-align:center;
	}
}
.flower-img {
  width:100px;
  height:100px;
}

.grid {
	*{
		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
	}
}
.grid:after {
  content: "";
  display: table;
  clear: both;
  // width: 100%;
}

// [class*='col-'] {
//   float: left;
// }
// .col-1-4 {
//   width: 25%;
// }
// .col-2-4 {
//   width: 50%;
// }
// .col-3-4 {
//   width: 75%;
// }
// .col-1 {
//   width: 100%;
// }
// .col-3-8 {
//   width: 27.5%;
// }
// .col-1-8 {
//   width: 12.5%;
// }