[class*="card__"]{
}



.card__delivery {
	width:300px;
	border-radius:10px;
	margin:20px;
	background-color: white;
	text-align: center;
	padding-bottom: 16px;
	div.title{
		width:100%;
		padding:16px 0;
		font-weight: bold;
		border-bottom:1px solid black
	}
}

.card__strain{
	width:300px;
	border-radius:10px;
	text-align: center;
	margin: 20px;
	background-color: white;
	div.title{
		width:100%;
		padding:16px 0;
		font-weight: bold;
		border-bottom:1px solid black
	}
}

.card-product-image {
	width:300px;
	height:300px;
}
.upload-product-image {
	width:100px;
	height:100px;
}
.price{
	padding:0;
	margin:0;
	width:300px;
	height:100px;
	display:block;
	 @include breakpoint(715) {
  		width:40%;
  		overflow:auto;
    // background:darken(#262626,5%);
  }
}
.price-1{}
.price-3{
	padding:0;
	margin:0;
	width:100px;
	display:inline-block;
	vertical-align:top;
	p{
		color:grey;
		color:light-grey;
	}
	// display:inline-block;
}
.price-6{
	padding:0;
	margin:0;
	width:50px;
	@include breakpoint(400) {
	width:100%;
	// display:inline;
	}
	display:inline-block;
	vertical-align:top;
	p{
		color:grey;
		color:light-grey;
	}
}
