.form-container {
  border: 1px solid $darkgrey;
  color: #607D8B;
  background-color: $lightteal;
  border-radius: 5px; 
  padding: 40px 20px;
/* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 4px 8px 0 $darkgrey;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
button.form-btn {
  border-color: $grey;
  color: $grey;
  background-color: $lightgreen;
}

input {
  // border-radius: 2px;
}

input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  box-sizing: border-box;
}
// Add this to every Select list it will prevent 
// the default item from being selected
.default-option {
  display: none;
}