.form-container {
  border: 1px solid $darkgrey;
  color: #607D8B;
  background-color: $lightteal;
  border-radius: 5px; 
  padding: 20px 20px;
/* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 4px 8px 0 $darkgrey;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button.form-btn {
  border-color: $grey;
  color: $grey;
  background-color: $lightgreen;
}

input {
  // border-radius: 2px; //this breaks the border style
}

input, select, textarea{
  font-family : inherit;
  font-size   : 100%;
  box-sizing: border-box;
  display:block;
}

input, select, textarea, button {
  margin-top: 10px;
}
// Add this to every Select list it will prevent 
// the default item from being selected
.default-option {
  display: none;
}
.form-container > h3{
  margin: 0px 0 10px 0;
}
.form-container > h4{
  margin: 0px 0 0px 0;
}
// Validations
.form-container input.ng-touched.ng-invalid {
  background-color: #FA787E;
}

.form-container input.ng-valid.ng-touched {
  background-color: #78FA89;
}