
// This is where all of our partials are
.partial-container{
	display:block;
}

$logo-width:150;
$logo-height: ($logo-width*0.27);

#logo {
  background-image: url("/pics/MJC-Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width:$logo-width * 1px;
  height:$logo-height * 1px;
}