[class*="icon__"]{
	width:200px;
	height:200px;
	@include breakpoint(715) { 
		width:80px;
		height:80px;
	}
}

.icon__profile {
	// display: inline;
	position: relative;
	top:-90px;
	right: -100px;
	border-radius:16px;
	overflow:hidden;
	img {
		width: 100%;
		height: 100%;
	}
}