[class*="icon__"]{
	width:200px;
	height:200px;
}

.icon__profile {
	border-radius:16px;
	overflow:hidden;
	img {
		width: 100%;
		height: 100%;
	}
	@include breakpoint(715) { 
		// right:50% - 100px;
	}
}