[class*="sheet__"]{
	width:100%;
	padding:50px 0;
	background-color:#F2F5F5;
}

// DASHBOARD SHEETS
.sheet__dashboard{
	height: auto;
	text-align: center;
		/* fix background */
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element */
	background-size: cover;
	background-image: url("../pics/mary_jane.png");
}
.sheet__apply{
	height: 80vh;
	text-align: center;
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element */
	background-size: cover;
	background-image: url("../pics/mary.jpg");
}

.sheet__topstrains{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	div.title{
		width:100%;
		text-align:center;
	}
}

.sheet__featured{
	text-align:center;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.sheet__sponsors{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

// DELIVERY SHEETS
.sheet__head{
	background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding-top:120px;
}
.sheet__delivery{
	height: auto;
	background-color:black;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.sheet__contact{
	padding: 0;
	text-align:center;
}
.sheet__menu {
	padding-top:0;
	height:600px;
}

.sheet__banner {
	height:200px;
/*	background-color: $grey;
	background-image:$gradient;*/
	background: #B3FFAB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  	text-align: center;
  	color: white;
}

.sheet__product{
    display:block;
	padding-top:0;
	height:600px;
	overflow: hidden;
}

.sheet__products{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.sheet__map{
	display:flex;
	justify-content:center;
}


// REGISTER SHEETS
.sheet__register{
	display: flex;
	justify-content: center; 
	align-items: center;
	background-color: $lightgreen;
}


//LOGIN SHEETS
.sheet__login {
	background-color:$lightgreen;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;

}

