[class*="sheet__"]{
	width:100%;
	padding:50px 0;
	background-color:$secondary;
}

// DASHBOARD SHEETS
.sheet__dashboard{
	height: auto;
	text-align: center;
		/* fix background */
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element */
	background-size: cover;
	background-image: url("../pics/mary_jane.png");
}

.sheet__topstrains{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.sheet__featured{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.sheet__sponsors{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}





// DELIVERY SHEETS
.sheet__head{
	background-image:url("../pics/patterngrey.svg");
	padding-top:120px;
}
.sheet__delivery{
	height: auto;
	background-color:$lightteal;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.sheet__banner {
	height:200px;
	background-color: $grey;
	background-image:url("../pics/patterngrey.svg");
  	text-align: center;
  	color: white;
}

.sheet__map{
	display:flex;
	justify-content:center;
}


// REGISTER SHEETS
.sheet__register{
	display: flex;
	justify-content: center; 
	align-items: center;
	background-color: $lightgreen;
}


//LOGIN SHEETS
.sheet__login {
	background-color:$lightgreen;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;

}

