@import 'colors';
@import 'buttons';
@import 'breakpoints';
@import 'reset';
@import 'nav';
@import 'general';
@import 'footer';
@import 'sheets';
@import 'forms';

body{
    display:flex;
    flex-direction: column;
    // align-items:stretch;
    font-family: 'Muli', sans-serif;
    background-color: $darkpurple;
}

.mary-text {
  color: white;
  letter-spacing: 4px;
  font-size:40px;
}
.hp-container {
  width:100%;
  height: 100%;
}

.flower-img {
  width:200px;
  height:200px;
}
